/* место для вашего кода 450fr 148fr 474fr;*/
.address {
  font-style: normal;
}

.header {
  margin: 92px 0 0px 27px;
  display: flex;
  align-items: center;
}

.header__menu {
  padding-left: 24px;
  letter-spacing: 0.95px;
  line-height: 1.2;
}

.header__links-list {
  display: flex;
  gap: 32px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__links-list-item {
  list-style: circle;
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.18px;
}

.header__link {
  text-decoration: underline;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  box-sizing: border-box;
  padding-left: 35px;
}

.header__logo-image {
  object-fit: fill;
  width: 148px;
  height: 105px;
}

.header__address {
  padding-top: 7px;
  padding-left: 186px;
  display: flex;
  flex-direction: column;
  place-self: start;
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.35; /* 135% */
  letter-spacing: 0.18px;
}

.cover {
  position: relative;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  pointer-events: none;
  z-index: 1;
}

.cover__title {
  margin-top: 93px;
  margin-left: 50px;
  display: flex;
  width: 1100px;
  flex-direction: column;
  color: white;
  font-size: 100px;
  margin-bottom: 135px;
  line-height: 100%;
}

.extended-line-height {
  line-height: 120%;
}

.spacing-30 {
  letter-spacing: 30px;
}

.cover__title_word {
  text-transform: uppercase;
  letter-spacing: 30px;
  z-index: 2;
}

.cover__title_word-top {
  padding-top: 160px;
}

.cover__title_word-center {
  padding-top: 20px;
  padding-left: 285px;
}

.cover__title_word-end {
  padding-left: 584px;
  padding-top: 20px;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0px;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 78px;
  margin-right: 50px;
}

.cover__description-text {
  margin-bottom: 51px;
  font-size: 22px;
  color: white;
  line-height: 1.2;
  text-transform: uppercase;
  word-spacing: 18.5px;
  z-index: 2;
}

.bet-button {
  margin-bottom: 51px;
  padding-left: 31px;
  padding-top: 12px;
  padding-right: 32px;
  padding-bottom: 11px;
  background-color: transparent;
  color: white;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  text-transform: uppercase;
  font-size: 22px;
  z-index: 2;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.lots__heading {
  margin: 175px 0 28px 64px;
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.lots__card-list {
  flex-wrap: wrap;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 30px;
  display: flex;
  list-style: none;
  gap: 25px;
}

.lots__card-list-item {
  width: 334px;
  min-height: 563px;
  flex-grow: 1;
  flex-basis: 334px;
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card__title {
  margin-top: 51px;
  margin-left: 40px;
  margin-right: 40px;
  color: #fff;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 26.4px */
  text-decoration-line: underline;
  text-transform: uppercase;
  z-index: 2;
}

.card__text {
  margin-bottom: 48px;
  margin-left: 40px;
  margin-right: 40px;
  align-self: end;
  color: #fff;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
  z-index: 2;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
  margin-left: 64px;
  text-decoration: underline;
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.about {
  margin-top: 175px;
  margin-left: 71px;
  margin-right: 24px;
  display: grid;
  grid-template-columns: 312px 693px;
  grid-template-rows: 256px 143px 158px;
  grid-template-areas:
    "logo title"
    ". text"
    ". text";
}

.about__logo {
  grid-area: logo;
  display: flex;
  width: 240px;
  height: 240px;
  align-self: center;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 100%;
}

.about__logo-image {
  width: 142px;
  height: 113px;
}

.about__title {
  grid-area: title;
  align-self: center;
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.about__text {
  grid-area: text;
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.04px;
}

.about__text:first-of-type {
  grid-row: 2;
}

.about__text:last-of-type {
  grid-row: 3;
}

.footer {
  display: flex;
  margin: 192px 50px 88px 50px;
  max-width: 1000px;
  justify-content: space-between;
}

.footer__address {
  width: 237px;
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.35; /* 135% */
  letter-spacing: 0.1px;
}

.footer__menu {
  justify-self: center;
  width: 149px;
}

.footer__menu-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__menu-link {
  color: #000;
  text-align: center;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: underline;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  list-style: none;
}

.footer__social-list-item {
  width: 48px;
}
